
<header>
    <div ng-controller="translate">
        <button ng-click="switchLanguage('vi-VN')">VN</button>
        <button ng-click="switchLanguage('en-US')">EL</button>
    </div>

    <div class="breadcrumbs">
        <a href="#0/">{{title}}</a>
    </div>
    <h1 class="title">Pipeline</h1>
    <nav class="nav-tabs">
        <a href="#0" class="active">
            Deals
            <span>14</span>
        </a>
        <a href="#0">
            Library
            <span>24</span>
        </a>
        <a href="#0">
            Search Library
        </a>
    </nav>
</header>
