<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <partial name="_PageHeadElement" />
    <partial name="_ThemeScripts" />
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)


</head>
<body class="page-body" ng-app="myApp" ng-cloak>
  
    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

        <div class="sidebar-menu">

            <partial name="_GoogleTagManagerBodyElement" />
            <partial name="_Header" />
            <partial name="_Navbar" />
        </div>
        <div class="main-content">
            <partial name="_NavbarUserInfo" />
            <div class="row">
                <div class="col-md-12" ng-view>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Page content -->
        <!-- Page content -->


    
        <partial name="_Footer" />
    </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
