<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <partial name="_PageHeadElement" />
    <partial name="_ThemeScripts" />
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)


</head>
<body ng-app="myApp">
  
    <div class="site-wrap">
        <partial name="_GoogleTagManagerBodyElement" />
        <partial name="_Navbar" />
        <main>
            <partial name="_Header" />
            <!-- Page content -->
            <!-- Page content -->
            <div>

                <div class="content-columns" ng-view>
                    @RenderBody()
                 </div>
                </div>
        </main>
        <partial name="_Footer" />
        </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
