



<ul id="main-menu" class="">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
    <!-- Search Bar -->
    <li id="search">
        <form method="get" action="">
            <input type="text" name="q" class="search-input" placeholder="Search something..." />
            <button type="submit">
                <i class="entypo-search"></i>
            </button>
        </form>
    </li>
    <li>
        <a href="#">
            <i class="entypo-gauge"></i>
            <span>{{'Menu.Home' | translate }}</span>
        </a>
        <ul>
            <li>
                <a href="/Home">
                    <span>Dashboard 1</span>
                </a>
            </li>
            <li>
                <a href="dashboard-2.html">
                    <span>Dashboard 2</span>
                </a>
            </li>
            <li>
                <a href="dashboard-3.html">
                    <span>Dashboard 3</span>
                    <span class="badge badge-secondary badge-roundless">New</span>
                </a>
            </li>
            <li>
                <a href="skin-black.html">
                    <span>Skins</span>
                </a>
                <ul>
                    <li>
                        <a href="skin-black.html">
                            <span>Black Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-white.html">
                            <span>White Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-purple.html">
                            <span>Purple Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-cafe.html">
                            <span>Cafe Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-red.html">
                            <span>Red Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-green.html">
                            <span>Green Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-yellow.html">
                            <span>Yellow Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-blue.html">
                            <span>Blue Skin</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="highlights.html">
                    <span>What's New</span>
                    <span class="badge badge-success badge-roundless">v1.5.1</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/Customer">
            <i class="entypo-gauge"></i>
            <span>{{'Menu.Customer'|translate}}</span>
        </a>
    </li>
    <li>
        <a href="/Vendor" >
            <i class="entypo-gauge"></i>
            <span>{{'Menu.Vendor'|translate}}</span>
        </a>
    </li>
</ul>