

<div class="data-display w-100">
    <div class="w-100">
        <div>
            <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="w-100 table-sm dataTable no-footer"></table>
        </div>
    </div>
</div>